# Archivos de configuración sensibles
appsettings.json
appsettings.Development.json

# Carpetas generadas automáticamente
bin/
obj/
packages/
.vscode/
.vs/
node_modules/

# Archivos de usuario
*.user
*.suo
*.log
